<h2><%= @sample.drum_name %></h2>

<br/><hr/><br/>

<sample id="<%= @sample.id %>" controls>
  <source src="<%= stream_path(@sample.id) %>"></source>
</sample>

<br/><hr/><br/>


<%= link_to 'Edit', edit_sample_path(@sample), class: 'button small' %> |
<%= link_to 'Back', samples_path, class: 'button small' %>
